.dinamic-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
}

.dinamic-wrapper .input-wrapper{
    flex-wrap: wrap;
    gap: 20px;
}

.dinamic-wrapper .input-date, .dinamic-wrapper .drop-down-menu, .dinamic-wrapper .submit-btn{
    width: 45%;
}

.drop-down-menu{
    background-color: transparent;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    border: 3px solid rgb(114, 155, 244);
    text-align: center;
    color: rgb(23, 47, 97);
}

.data-dinamic-table{
    margin: 0 auto;
    width: 95%;
    border-collapse: separate;
    border-spacing: 5px;
    border-radius: 20px;
    border: 16px solid rgb(131, 179, 250);
    background-color: rgb(131, 179, 250);
}

.thead{
    background-color: white;
}

.thead__column{

    font-size: 22px;
    letter-spacing: 1px;
    padding: 20px;
    text-align: center;
}

.tbody__column{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(41, 35, 35);
}

.tbody_line:nth-child(odd){
    background-color: rgb(222, 235, 243);
}

.tbody_line:nth-child(even){
    background-color: rgb(253, 232, 222);
}