*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.page__title{
  padding: 10px;
  background-color: rgb(108, 143, 246);
  border-radius: 15px;
  color: white;
  text-align: center;
}

.switchers-wrapper{
  width: 100%;
  height: 70px;
  background-color: rgb(102, 102, 252);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switcher{
  display: flex;
  justify-content: center;
  width: 33%;
}

.screens-wrapper{
  width: 100%;
  padding: 20px;
  display: flex;
}

.screen{
  width: 33%;
  padding: 10px;
}

.switcher__title{
  padding: 10px;
  color: white;
  font-size: 22px;
  display: flex;
  gap: 15px;
}